html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    float: left;
    width: 70%;
    height: 100%;
}

#directions {
    margin-top: 10px;
    padding: 10px;
    overflow: scroll;
    height: 450px;
}
